.App {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

.movie-list {
  border: solid 1px darkblue;
  background: rgba(0, 0, 0, 0.1);
  padding: 1em;
  max-width: 30em;
}
.movie li {
  color: darkblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
